In [1]:
import zipfile
import pandas as pd
import numpy as np

### This notebook by Amalawa Ogbomo highlights the various steps in cleaning a datasets.

#### importing the dataset and displaying the first 10 columns

In [2]:
# To import the large dataset we have used a zipfile option and unzip the file in the process
with zipfile.ZipFile("C:/Users/aoogb/Downloads/BasicCompanyDataAsOneFile-2021-11-01.zip") as z:
   with z.open("BasicCompanyDataAsOneFile-2021-11-01.csv") as f:
        CompanyData = pd.read_csv(f, sep=',',error_bad_lines=False, index_col=False, dtype='unicode')
        #print(CompanyData.head())
        #other options to read the large data set is as below
        #CompanyData = pd.read_csv(f, header=0, delimiter="\t")
        #CompanyData = pd.read_csv(f,delimiter=',') 
        #eyeballing the first 10 columns 
CompanyData.head(10)

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,! LTD,08209948,NaN,NaN,METROHOUSE 57 PEPPER ROAD,HUNSLET,LEEDS,YORKSHIRE,NaN,LS10 2RU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25/09/2022,11/09/2021
1,!? LTD,11399177,NaN,NaN,THE STUDIO HATHERLOW HOUSE,HATHERLOW,ROMILEY,NaN,UNITED KINGDOM,SK6 3DY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/06/2022,05/06/2021
2,!BIG IMPACT GRAPHICS LIMITED,11743365,NaN,NaN,372 OLD STREET,335 ROSDEN HOUSE,LONDON,NaN,UNITED KINGDOM,EC1V 9LT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/01/2022,27/12/2020
3,!GOBERUB LTD,13404790,NaN,NaN,30 MAZE GREEN ROAD,NaN,BISHOP'S STORTFORD,NaN,ENGLAND,CM23 2PJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30/05/2022,NaN
4,!NFOGENIE LTD,13522064,NaN,NaN,71-75 SHELTON STREET,NaN,LONDON,GREATER LONDON,UNITED KINGDOM,WC2H 9JQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03/08/2022,NaN
5,!NNOV8 LIMITED,11006939,NaN,NaN,OLD BARN FARM,HARTFIELD ROAD,EDENBRIDGE,NaN,ENGLAND,TN8 5NF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/10/2021,10/10/2020
6,!NSPIRED INVESTMENTS LTD,SC606050,NaN,NaN,26 POLMUIR ROAD,NaN,ABERDEEN,NaN,SCOTLAND,AB11 7SY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/02/2022,29/01/2021
7,!NSPIRED LTD,SC421617,NaN,NaN,26 POLMUIR ROAD,NaN,ABERDEEN,NaN,UNITED KINGDOM,AB11 7SY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25/04/2022,11/04/2021
8,!NVERTD DESIGNS LIMITED,09152972,NaN,NaN,2 SANDROCKS LODGE,ROCKY LANE,HAYWARDS HEATH,NaN,ENGLAND,RH16 4RW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/08/2022,30/07/2021
9,!OBAC LIMITED,FC031362,NaN,NaN,1ST AND 2ND FLOORS ELIZABETH HOUSE,LES RUETIES BRAYES,ST PETER PORT,GUERNSEY,GUERNSEY,GY1 1EW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/12/2016,NaN

In [3]:
# handling duplicate columns 
companyduplicate=CompanyData.duplicated()
companyduplicate

0          False
1          False
2          False
3          False
4          False
           ...
4998218    False
4998219    False
4998220    False
4998221    False
4998222    False
Length: 4998223, dtype: bool

#### handling regular expressions in the dataset

In [4]:
# This is one way of handling it 
for column in CompanyData.columns:
      CompanyData[column] = CompanyData[column].str.replace(r'[<%!?/#_^|\,=`~@&.;<>*£$%":-]', "", regex=True)

In [ ]:
# ingnore this 
#spec_chars = ["!",'"',"#","%","&","'","(",")",
    #          "*","+",",","-",".","/",":",";","<",
             # "=",">","?","@","[","\\","]","^","_",
             # "`","{","|","}","~","–"]
#for char in spec_chars:
    #df['title'] = df['title'].str.replace(char, ' ')

In [5]:
# clean company data without regrex 
CompanyData

,CompanyName,CompanyNumber,RegAddress.CareOf,RegAddress.POBox,RegAddress.AddressLine1,RegAddress.AddressLine2,RegAddress.PostTown,RegAddress.County,RegAddress.Country,RegAddress.PostCode,...,PreviousName_7.CONDATE,PreviousName_7.CompanyName,PreviousName_8.CONDATE,PreviousName_8.CompanyName,PreviousName_9.CONDATE,PreviousName_9.CompanyName,PreviousName_10.CONDATE,PreviousName_10.CompanyName,ConfStmtNextDueDate,ConfStmtLastMadeUpDate
0,LTD,08209948,NaN,NaN,METROHOUSE 57 PEPPER ROAD,HUNSLET,LEEDS,YORKSHIRE,NaN,LS10 2RU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25092022,11092021
1,LTD,11399177,NaN,NaN,THE STUDIO HATHERLOW HOUSE,HATHERLOW,ROMILEY,NaN,UNITED KINGDOM,SK6 3DY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19062022,05062021
2,BIG IMPACT GRAPHICS LIMITED,11743365,NaN,NaN,372 OLD STREET,335 ROSDEN HOUSE,LONDON,NaN,UNITED KINGDOM,EC1V 9LT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10012022,27122020
3,GOBERUB LTD,13404790,NaN,NaN,30 MAZE GREEN ROAD,NaN,BISHOP'S STORTFORD,NaN,ENGLAND,CM23 2PJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30052022,NaN
4,NFOGENIE LTD,13522064,NaN,NaN,7175 SHELTON STREET,NaN,LONDON,GREATER LONDON,UNITED KINGDOM,WC2H 9JQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03082022,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4998218,“THE GREENHOUSE” COMPANY LTD,11457383,NaN,NaN,IRONMASTER HOUSE,WYLE COP,SHREWSBURY,SHROPSHIRE,ENGLAND,SY1 1XF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06072022,22062021
4998219,“THE SKULL” SAUCE COMPANY LTD,SC660098,NaN,NaN,215 BURNBRAE PLACE,NaN,EDINBURGH,MIDLOTHIAN,NaN,EH12 8AR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11052021,NaN
4998220,“UGUR97” FIRMASI LTD,13707057,NaN,NaN,60 BROMPTON ROAD,NaN,LONDON,NaN,UNITED KINGDOM,SW3 1BW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09112022,NaN
4998221,“WORLD PLANET” HUMANITARIAN EXPEDITION GROUP LTD,12634115,NaN,NaN,OFFICE 4,219 KENSINGTON HIGH STREET,KENSINGTON,LONDON,ENGLAND,W8 6BD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12062022,29052021
4998222,€URO IMPORTS LIMITED,08182582,NaN,NaN,414416 BLACKPOOL ROAD,ASHTONONRIBBLE,PRESTON,NaN,NaN,PR2 2DX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28082022,14082021

In [6]:
#printing out the unique rows and columns in the companydata
for col in CompanyData:
    print ('\nFrequency of Categories for varible %s'%col)
    print (CompanyData[col].value_counts())

Frequency of Categories for varible CompanyName
DEVON FUEL ASSOCIATES LTD. T/A SERVICETECH SOUTH WEST PARTNERSHIP    10
FOXLEY COURT EQUESTRIAN                                               4
AVOCHIE HOME FARM PARTNERSHIP                                         3
JAMES MCDOUGALL                                                       3
JACK KAY & SONS                                                       3
                                                                     ..
SMITH MEDICAL LIMITED                                                 1
116 DALYELL ROAD FREEHOLD LIMITED                                     1
C BADDIEL LIMITED                                                     1
RUNWAY PARK AND FLY LTD                                               1
WOLSTANTON PO LIMITED                                                 1
Name: CompanyName, Length: 4997484, dtype: int64

Frequency of Categories for varible  CompanyNumber
13449657    1
09731502    1
13404421    1
08034657    1
11533562    1
           ..
11940829    1
12058543    1
13280277    1
05403363    1
06594157    1
Name:  CompanyNumber, Length: 4998223, dtype: int64

Frequency of Categories for varible RegAddress.CareOf
INTOUCH ACCOUNTING              616
C/O                             430
BOOX                            342
HILLIER HOPKINS LLP             315
B&C ASSOCIATES LIMITED          307
                               ...
C/O ECEBS LTD, R.MCCULLAGH,       1
MALCOLM JONES AND CO LLP          1
MARTIN MORRISON & CO LIMITED      1
MARK PARSONS                      1
JOHN WATSON BRIGGS                1
Name: RegAddress.CareOf, Length: 26515, dtype: int64

Frequency of Categories for varible RegAddress.POBox
4385          5886
24072          131
11300          128
7010           124
3653           100
              ...
33 WOLVERH       1
1/2              1
SOUTDEVLTD       1
BOX 124          1
B10 0UT          1
Name: RegAddress.POBox, Length: 5132, dtype: int64

Frequency of Categories for varible RegAddress.AddressLine1
71-75 SHELTON STREET        59268
20-22 WENLOCK ROAD          44672
KEMP HOUSE                  29454
27 OLD GLOUCESTER STREET    14914
85 GREAT PORTLAND STREET     9424
                            ...
10 BEEHIVE WAY                  1
14 CAMDEN HILL MANSIONS         1
WELSH STREET CHAMBERS           1
21 SANDERSON CLOSE              1
168 LISBURN ROAD                1
Name: RegAddress.AddressLine1, Length: 1983191, dtype: int64

Frequency of Categories for varible  RegAddress.AddressLine2
COVENT GARDEN                    28807
LONDON                           25262
160 CITY ROAD                    24054
CENTRE PARK                      13308
HIGH STREET                      12025
                                 ...
FROANES CLOSE                        1
62 WESTGATE                          1
GF OFFICE 8 (GF 8)                   1
133 CORHAMPTON ROAD                  1
LEATHER MARKET, WESTON STREET        1
Name:  RegAddress.AddressLine2, Length: 316081, dtype: int64

Frequency of Categories for varible RegAddress.PostTown
LONDON                      970496
MANCHESTER                   89913
BIRMINGHAM                   85316
GLASGOW                      63372
BRISTOL                      55629
                             ...
GATWICK WEST SUSSEX              1
CLAYTON ROAD,  HAYES             1
GLOCUESTER                       1
NL 28403                         1
2 A C COURT  HIGH STREET         1
Name: RegAddress.PostTown, Length: 45006, dtype: int64

Frequency of Categories for varible RegAddress.County
ESSEX                      107955
KENT                        90697
SURREY                      89917
WEST MIDLANDS               68630
HAMPSHIRE                   60475
                            ...
SK22 3HS                        1
NR. RYDE, ISLE OF WIGHT         1
GL51 5DY                        1
55270                           1
LONDON BOROUGH                  1
Name: RegAddress.County, Length: 13808, dtype: int64

Frequency of Categories for varible RegAddress.Country
ENGLAND                    2095214
UNITED KINGDOM             1292796
SCOTLAND                    146226
WALES                        60906
NORTHERN IRELAND             37890
                            ...
BRITISH CHANNEL ISLANDS          1
GRENADA                          1
PUERTO RICO                      1
DUMMY                            1
SW7                              1
Name: RegAddress.Country, Length: 194, dtype: int64

Frequency of Categories for varible RegAddress.PostCode
WC2H 9JQ    59926
N1 7GU      45482
EC1V 2NX    37476
WC1N 3AX    15935
EC2A 4NE    11222
            ...
PL27 6JH        1
B98 9BA         1
BA9 8BJ         1
BS8 4SA         1
M26 1HD         1
Name: RegAddress.PostCode, Length: 919371, dtype: int64

Frequency of Categories for varible CompanyCategory
Private Limited Company                                                                      4646376
PRI/LTD BY GUAR/NSC (Private, limited by guarantee, no share capital)                         107562
Limited Partnership                                                                            55433
Limited Liability Partnership                                                                  52364
PRI/LBG/NSC (Private, Limited by guarantee, no share capital, use of 'Limited' exemption)      40426
Charitable Incorporated Organisation                                                           27038
Community Interest Company                                                                     25353
Other company type                                                                             13676
Registered Society                                                                             11861
Public Limited Company                                                                          6064
Scottish Charitable Incorporated Organisation                                                   5265
Private Unlimited Company                                                                       4331
Royal Charter Company                                                                            881
Investment Company with Variable Capital                                                         632
United Kingdom Economic Interest Grouping                                                        269
Scottish Partnership                                                                             233
Industrial and Provident Society                                                                 181
Private Unlimited                                                                                115
Investment Company with Variable Capital(Umbrella)                                                74
Old Public Company                                                                                26
United Kingdom Societas                                                                           24
PRIV LTD SECT. 30 (Private limited company, section 30 of the Companies Act)                      17
Investment Company with Variable Capital (Securities)                                             10
Protected Cell Company                                                                             5
Other Company Type                                                                                 4
Further Education and Sixth Form College Corps                                                     2
Converted/Closed                                                                                   1
Name: CompanyCategory, dtype: int64

Frequency of Categories for varible CompanyStatus
Active                                              4656560
Active - Proposal to Strike off                      237651
Liquidation                                           98682
In Administration                                      2462
Live but Receiver Manager on at least one charge       1282
Voluntary Arrangement                                   764
In Administration/Administrative Receiver               335
RECEIVERSHIP                                            191
ADMINISTRATION ORDER                                    129
ADMINISTRATIVE RECEIVER                                 112
In Administration/Receiver Manager                       41
RECEIVER MANAGER / ADMINISTRATIVE RECEIVER               13
VOLUNTARY ARRANGEMENT / ADMINISTRATIVE RECEIVER           1
Name: CompanyStatus, dtype: int64

Frequency of Categories for varible CountryOfOrigin
United Kingdom       4985321
UNITED STATES           2549
IRELAND                 1064
CHANNEL ISLANDS          622
NETHERLANDS              613
                      ...
MALI                       1
PERU                       1
UK                         1
OMAN                       1
SOUTH-WEST AFRICA          1
Name: CountryOfOrigin, Length: 202, dtype: int64

Frequency of Categories for varible DissolutionDate
Series([], Name: DissolutionDate, dtype: int64)

Frequency of Categories for varible IncorporationDate
01/01/1981    5216
14/05/2021    4441
08/06/2020    4373
18/01/2021    4356
25/01/2021    4343
              ...
16/08/2008       1
15/04/1910       1
02/01/1925       1
24/06/1989       1
18/07/1940       1
Name: IncorporationDate, Length: 30499, dtype: int64

Frequency of Categories for varible Accounts.AccountRefDay
31    3057832
30    1413416
28     220178
29     106828
5       45284
27       9514
26       4914
24       4717
25       4654
1        3985
23       1891
4        1685
6        1486
15       1470
7        1442
3        1182
2        1084
20       1068
10       1041
22       1000
11        817
14        806
8         803
9         798
21        793
18        733
19        728
13        695
12        695
16        669
17        667
Name: Accounts.AccountRefDay, dtype: int64

Frequency of Categories for varible Accounts.AccountRefMonth
3     904521
12    592041
9     401776
6     395985
4     383014
10    367443
7     351361
8     341212
5     318849
2     285200
1     284704
11    266769
Name: Accounts.AccountRefMonth, dtype: int64

Frequency of Categories for varible Accounts.NextDueDate
31/12/2021    496318
30/09/2022    425702
31/12/2022    240174
30/06/2022    235378
31/03/2022    209052
               ...
01/10/1991         1
23/10/2016         1
23/11/1985         1
29/07/1995         1
01/11/1975         1
Name: Accounts.NextDueDate, Length: 6469, dtype: int64

Frequency of Categories for varible Accounts.LastMadeUpDate
31/03/2020    493659
31/12/2020    413050
31/03/2021    234469
30/09/2020    232991
30/06/2020    207267
               ...
02/10/2015         1
30/09/1973         1
27/04/1996         1
09/10/2017         1
07/11/2018         1
Name: Accounts.LastMadeUpDate, Length: 2700, dtype: int64

Frequency of Categories for varible Accounts.AccountCategory
MICRO ENTITY                   1452859
NO ACCOUNTS FILED              1383406
TOTAL EXEMPTION FULL           1188765
DORMANT                         587692
UNAUDITED ABRIDGED              155267
FULL                             96703
SMALL                            70498
GROUP                            24289
TOTAL EXEMPTION SMALL            18365
AUDIT EXEMPTION SUBSIDIARY       14085
ACCOUNTS TYPE NOT AVAILABLE       4147
AUDITED ABRIDGED                  1471
MEDIUM                             341
FILING EXEMPTION SUBSIDIARY        307
PARTIAL EXEMPTION                   19
INITIAL                              9
Name: Accounts.AccountCategory, dtype: int64

Frequency of Categories for varible Returns.NextDueDate
28/01/2017    22688
28/04/2017    17268
28/10/2016    11572
28/03/2017    11313
28/05/2017    10863
              ...
29/01/1991        1
13/05/1992        1
19/04/1994        1
09/03/1991        1
27/07/2007        1
Name: Returns.NextDueDate, Length: 10054, dtype: int64

Frequency of Categories for varible Returns.LastMadeUpDate
31/12/2015    22436
31/03/2016    15839
30/09/2015    10755
30/04/2016    10484
31/01/2016     9504
              ...
16/03/1992        1
08/02/2005        1
23/03/1994        1
22/05/1995        1
17/08/1991        1
Name: Returns.LastMadeUpDate, Length: 8936, dtype: int64

Frequency of Categories for varible Mortgages.NumMortCharges
0       4312288
1        266657
2        147665
3         76777
4         49535
         ...
1070          1
778           1
442           1
306           1
674           1
Name: Mortgages.NumMortCharges, Length: 461, dtype: int64

Frequency of Categories for varible Mortgages.NumMortOutstanding
0       4429652
1        282285
2        137574
3         58534
4         31237
         ...
604           1
412           1
1284          1
565           1
469           1
Name: Mortgages.NumMortOutstanding, Length: 396, dtype: int64

Frequency of Categories for varible Mortgages.NumMortPartSatisfied
0     4996693
1        1237
2         192
3          52
4          25
5          12
6           6
7           3
10          2
15          1
Name: Mortgages.NumMortPartSatisfied, dtype: int64

Frequency of Categories for varible Mortgages.NumMortSatisfied
0      4702794
1       113714
2        59574
3        32448
4        21753
        ...
405          1
216          1
929          1
286          1
389          1
Name: Mortgages.NumMortSatisfied, Length: 330, dtype: int64

Frequency of Categories for varible SICCode.SicText_1
82990 - Other business support service activities n.e.c.                     227909
70229 - Management consultancy activities other than financial management    204171
68209 - Other letting and operating of own or leased real estate             181691
None Supplied                                                                181537
68100 - Buying and selling of own real estate                                144930
                                                                              ...
5273 - Repair of clocks & jewellery                                               1
1320 - Mining non-ferrous metal ores                                              1
2682 - Manufacture other non-metal mineral                                        1
7485 - Secretarial & translation services                                         1
1572 - Manufacture of prepared pet foods                                          1
Name: SICCode.SicText_1, Length: 1177, dtype: int64

Frequency of Categories for varible SICCode.SicText_2
68209 - Other letting and operating of own or leased real estate             66533
70229 - Management consultancy activities other than financial management    25610
62020 - Information technology consultancy activities                        19980
41202 - Construction of domestic buildings                                   19267
82990 - Other business support service activities n.e.c.                     17538
                                                                             ...
1513 - Production meat & poultry products                                        1
2661 - Manufacture concrete goods for construction                               1
1823 - Manufacture of underwear                                                  1
6322 - Other supporting water transport                                          1
9131 - Religious organisations                                                   1
Name: SICCode.SicText_2, Length: 1015, dtype: int64

Frequency of Categories for varible SICCode.SicText_3
68320 - Management of real estate on a fee or contract basis                 17812
68209 - Other letting and operating of own or leased real estate             13945
70229 - Management consultancy activities other than financial management     9714
62090 - Other information technology service activities                       8116
82990 - Other business support service activities n.e.c.                      7755
                                                                             ...
20160 - Manufacture of plastics in primary forms                                 1
9232 - Operation of arts facilities                                              1
2752 - Casting of steel                                                          1
13940 - Manufacture of cordage, rope, twine and netting                          1
3530 - Manufacture of aircraft & spacecraft                                      1
Name: SICCode.SicText_3, Length: 861, dtype: int64

Frequency of Categories for varible SICCode.SicText_4
68320 - Management of real estate on a fee or contract basis                 10689
96090 - Other service activities n.e.c.                                       5049
82990 - Other business support service activities n.e.c.                      4678
70229 - Management consultancy activities other than financial management     4390
47910 - Retail sale via mail order houses or via Internet                     3476
                                                                             ...
5142 - Wholesale of clothing and footwear                                        1
3110 - Manufacture electric motors, generators etc.                              1
7012 - Buying & sell own real estate                                             1
4541 - Plastering                                                                1
7499 - Non-trading company                                                       1
Name: SICCode.SicText_4, Length: 724, dtype: int64

Frequency of Categories for varible LimitedPartnerships.NumGenPartners
0      4944615
1        49620
2         3400
3          362
4          101
5           44
6           16
19          11
8            9
18           6
10           6
9            6
11           5
7            4
20           3
12           3
13           1
110          1
23           1
54           1
24           1
14           1
36           1
43           1
15           1
16           1
38           1
45           1
Name: LimitedPartnerships.NumGenPartners, dtype: int64

Frequency of Categories for varible LimitedPartnerships.NumLimPartners
0      4944686
1        41781
2         3474
3         1426
4          851
        ...
178          1
164          1
284          1
141          1
108          1
Name: LimitedPartnerships.NumLimPartners, Length: 193, dtype: int64

Frequency of Categories for varible URI
http://business.data.gov.uk/id/company/04076104    1
http://business.data.gov.uk/id/company/10364258    1
http://business.data.gov.uk/id/company/12008096    1
http://business.data.gov.uk/id/company/07952909    1
http://business.data.gov.uk/id/company/12211056    1
                                                  ..
http://business.data.gov.uk/id/company/13619307    1
http://business.data.gov.uk/id/company/08618502    1
http://business.data.gov.uk/id/company/09308057    1
http://business.data.gov.uk/id/company/12373160    1
http://business.data.gov.uk/id/company/08619942    1
Name: URI, Length: 4998223, dtype: int64

Frequency of Categories for varible PreviousName_1.CONDATE
02/10/2020    472
14/10/2020    440
06/10/2020    435
15/10/2020    432
13/10/2020    419
             ...
16/12/2018      1
27/10/2007      1
20/02/2005      1
20/03/2005      1
28/10/2007      1
Name: PreviousName_1.CONDATE, Length: 5363, dtype: int64

Frequency of Categories for varible  PreviousName_1.CompanyName
LAMRON DEVELOPMENTS LIMITED                   7
A. RODEN NEW CO. LTD.                         5
CURZON INVESTMENTS LIMITED                    4
XMZ LIMITED                                   4
ENTIA LIMITED                                 4
                                             ..
MORE THAN FASHION LTD                         1
L1GHT SCIENCE TECHNOLOG1ES HOLDINGS LTD       1
UK EXPRESS CARS LTD                           1
THG A&A PROPCO LIMITED                        1
ALLIED MACHINES AND RESOURCE HOLDINGS LTD.    1
Name:  PreviousName_1.CompanyName, Length: 496709, dtype: int64

Frequency of Categories for varible  PreviousName_2.CONDATE
07/11/2006    51
10/03/2015    48
19/03/2007    46

In [37]:
#calling a function to print out a table with all mssing values of the dataframe 

def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

missing_zero_values_table(CompanyData)

Your selected dataframe has 55 columns and 4998223 Rows.
There are 40 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
DissolutionDate,0,4998223,100.0,4998223,100.0,float64
PreviousName_10.CompanyName,0,4998194,100.0,4998194,100.0,object
PreviousName_10.CONDATE,0,4998194,100.0,4998194,100.0,object
PreviousName_9.CompanyName,0,4998177,100.0,4998177,100.0,object
PreviousName_9.CONDATE,0,4998177,100.0,4998177,100.0,object
PreviousName_8.CompanyName,0,4998144,100.0,4998144,100.0,object
PreviousName_8.CONDATE,0,4998144,100.0,4998144,100.0,object
PreviousName_7.CONDATE,0,4998054,100.0,4998054,100.0,object
PreviousName_7.CompanyName,0,4998054,100.0,4998054,100.0,object
PreviousName_6.CompanyName,0,4997791,100.0,4997791,100.0,object
PreviousName_6.CONDATE,0,4997791,100.0,4997791,100.0,object
PreviousName_5.CompanyName,0,4996932,100.0,4996932,100.0,object
PreviousName_5.CONDATE,0,4996932,100.0,4996932,100.0,object
PreviousName_4.CompanyName,0,4993735,99.9,4993735,99.9,object
PreviousName_4.CONDATE,0,4993735,99.9,4993735,99.9,object
RegAddress.POBox,0,4984132,99.7,4984132,99.7,object
PreviousName_3.CONDATE,0,4979960,99.6,4979960,99.6,object
PreviousName_3.CompanyName,0,4979960,99.6,4979960,99.6,object
RegAddress.CareOf,0,4940897,98.9,4940897,98.9,object
PreviousName_2.CompanyName,0,4912097,98.3,4912097,98.3,object
PreviousName_2.CONDATE,0,4912097,98.3,4912097,98.3,object
SICCode.SicText_4,0,4868725,97.4,4868725,97.4,object
SICCode.SicText_3,0,4709185,94.2,4709185,94.2,object
PreviousName_1.CompanyName,0,4498560,90.0,4498560,90.0,object
PreviousName_1.CONDATE,0,4498560,90.0,4498560,90.0,object
SICCode.SicText_2,0,4281282,85.7,4281282,85.7,object
RegAddress.County,0,3230454,64.6,3230454,64.6,object
Returns.LastMadeUpDate,0,2958722,59.2,2958722,59.2,object
RegAddress.AddressLine2,0,1896082,37.9,1896082,37.9,object
Accounts.LastMadeUpDate,0,1383566,27.7,1383566,27.7,object
RegAddress.Country,0,1355031,27.1,1355031,27.1,object
ConfStmtLastMadeUpDate,0,1030261,20.6,1030261,20.6,object
Returns.NextDueDate,0,124848,2.5,124848,2.5,object
Accounts.NextDueDate,0,120230,2.4,120230,2.4,object
Accounts.AccountRefDay,0,105348,2.1,105348,2.1,float64
Accounts.AccountRefMonth,0,105348,2.1,105348,2.1,float64
RegAddress.PostTown,0,92603,1.9,92603,1.9,object
RegAddress.PostCode,0,65775,1.3,65775,1.3,object
ConfStmtNextDueDate,0,55313,1.1,55313,1.1,object
RegAddress.AddressLine1,0,45254,0.9,45254,0.9,object

In [8]:
# finding out the percentage missing values in all columns
def missing(dff):
    print (round((dff.isnull().sum() * 100/ len(dff)),2).sort_values(ascending=False))  
missing(CompanyData)

PreviousName_7.CONDATE                100.00
 PreviousName_9.CompanyName           100.00
 PreviousName_7.CompanyName           100.00
DissolutionDate                       100.00
PreviousName_8.CONDATE                100.00
PreviousName_9.CONDATE                100.00
 PreviousName_8.CompanyName           100.00
PreviousName_10.CONDATE               100.00
 PreviousName_10.CompanyName          100.00
 PreviousName_6.CompanyName            99.99
PreviousName_6.CONDATE                 99.99
 PreviousName_5.CompanyName            99.97
PreviousName_5.CONDATE                 99.97
PreviousName_4.CONDATE                 99.91
 PreviousName_4.CompanyName            99.91
RegAddress.POBox                       99.72
PreviousName_3.CONDATE                 99.63
 PreviousName_3.CompanyName            99.63
RegAddress.CareOf                      98.85
 PreviousName_2.CONDATE                98.28
 PreviousName_2.CompanyName            98.28
SICCode.SicText_4                      97.41
SICCode.SicText_3                      94.22
 PreviousName_1.CompanyName            90.00
PreviousName_1.CONDATE                 90.00
SICCode.SicText_2                      85.66
RegAddress.County                      64.63
Returns.LastMadeUpDate                 59.20
 RegAddress.AddressLine2               37.94
Accounts.LastMadeUpDate                27.68
RegAddress.Country                     27.11
 ConfStmtLastMadeUpDate                20.61
Returns.NextDueDate                     2.50
Accounts.NextDueDate                    2.41
Accounts.AccountRefMonth                2.11
Accounts.AccountRefDay                  2.11
RegAddress.PostTown                     1.85
RegAddress.PostCode                     1.32
ConfStmtNextDueDate                     1.11
RegAddress.AddressLine1                 0.91
CompanyCategory                         0.00
CompanyStatus                           0.00
CountryOfOrigin                         0.00
IncorporationDate                       0.00
URI                                     0.00
LimitedPartnerships.NumLimPartners      0.00
Accounts.AccountCategory                0.00
Mortgages.NumMortCharges                0.00
Mortgages.NumMortOutstanding            0.00
Mortgages.NumMortPartSatisfied          0.00
Mortgages.NumMortSatisfied              0.00
SICCode.SicText_1                       0.00
 CompanyNumber                          0.00
LimitedPartnerships.NumGenPartners      0.00
CompanyName                             0.00
dtype: float64

In [17]:
#create a new dataframe with only the columns with missing values less than 20%
#drop columns with missing values more than 80%
#def rmissingvaluecol(dff, threshold):
    #l = []
    #l = list(dff.drop(dff.loc[:,list((100*(dff.isnull().sum()/len(dff.index)) >= threshold))].columns, 1).columns.values)
    #print("# Columns having more than %s percent missing values: "%threshold, (dff.shape[1] - len(l)))
    #print("Columns:\n", list(set(list((dff.columns.values))) - set(l)))
    #new_df = dff[dff].isin(l)
    #return new_df, l

#rmissingvaluecol(CompanyData,80)

In [8]:
def rmissingvaluecol(dff, threshold):
    l = []
    l = list(dff.drop(dff.loc[:,list((100*(dff.isnull().sum()/len(dff.index)) >= threshold))].columns, 1).columns.values)
    print("# Columns having more than %s percent missing values: "%threshold, (dff.shape[1] - len(l)))
    print("Columns:\n", list(set(list((dff.columns.values))) - set(l)))
    return l

rmissingvaluecol(CompanyData,80)

# Columns having more than 80 percent missing values:  26
Columns:
 ['RegAddress.CareOf', ' PreviousName_4.CompanyName', 'PreviousName_10.CONDATE', 'SICCode.SicText_3', ' PreviousName_6.CompanyName', 'SICCode.SicText_2', ' PreviousName_9.CompanyName', 'PreviousName_4.CONDATE', 'PreviousName_3.CONDATE', 'PreviousName_9.CONDATE', 'RegAddress.POBox', 'DissolutionDate', ' PreviousName_8.CompanyName', ' PreviousName_2.CONDATE', 'PreviousName_8.CONDATE', 'PreviousName_6.CONDATE', 'PreviousName_7.CONDATE', 'SICCode.SicText_4', ' PreviousName_7.CompanyName', ' PreviousName_3.CompanyName', 'PreviousName_5.CONDATE', 'PreviousName_1.CONDATE', ' PreviousName_10.CompanyName', ' PreviousName_2.CompanyName', ' PreviousName_1.CompanyName', ' PreviousName_5.CompanyName']

['CompanyName',
 ' CompanyNumber',
 'RegAddress.AddressLine1',
 ' RegAddress.AddressLine2',
 'RegAddress.PostTown',
 'RegAddress.County',
 'RegAddress.Country',
 'RegAddress.PostCode',
 'CompanyCategory',
 'CompanyStatus',
 'CountryOfOrigin',
 'IncorporationDate',
 'Accounts.AccountRefDay',
 'Accounts.AccountRefMonth',
 'Accounts.NextDueDate',
 'Accounts.LastMadeUpDate',
 'Accounts.AccountCategory',
 'Returns.NextDueDate',
 'Returns.LastMadeUpDate',
 'Mortgages.NumMortCharges',
 'Mortgages.NumMortOutstanding',
 'Mortgages.NumMortPartSatisfied',
 'Mortgages.NumMortSatisfied',
 'SICCode.SicText_1',
 'LimitedPartnerships.NumGenPartners',
 'LimitedPartnerships.NumLimPartners',
 'URI',
 'ConfStmtNextDueDate',
 ' ConfStmtLastMadeUpDate']

In [7]:
# remove the colums with more than 80 percent missing values and return the columns with less than 80 percent missing values in a dataframe
UsefulcolumnData=CompanyData.dropna(thresh=CompanyData.shape[0]*0.8,how='all',axis=1)
UsefulcolumnData

,CompanyName,CompanyNumber,RegAddress.AddressLine1,RegAddress.PostTown,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,IncorporationDate,Accounts.AccountRefDay,...,Returns.NextDueDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,ConfStmtNextDueDate
0,LTD,08209948,METROHOUSE 57 PEPPER ROAD,LEEDS,LS10 2RU,Private Limited Company,Active,United Kingdom,11092012,30,...,09102016,0,0,0,0,99999 Dormant Company,0,0,httpbusinessdatagovukidcompany08209948,25092022
1,LTD,11399177,THE STUDIO HATHERLOW HOUSE,ROMILEY,SK6 3DY,Private Limited Company,Active,United Kingdom,05062018,30,...,03072019,0,0,0,0,47710 Retail sale of clothing in specialised ...,0,0,httpbusinessdatagovukidcompany11399177,19062022
2,BIG IMPACT GRAPHICS LIMITED,11743365,372 OLD STREET,LONDON,EC1V 9LT,Private Limited Company,Active,United Kingdom,28122018,31,...,25012020,0,0,0,0,18129 Printing nec,0,0,httpbusinessdatagovukidcompany11743365,10012022
3,GOBERUB LTD,13404790,30 MAZE GREEN ROAD,BISHOP'S STORTFORD,CM23 2PJ,Private Limited Company,Active,United Kingdom,17052021,31,...,14062022,0,0,0,0,62020 Information technology consultancy acti...,0,0,httpbusinessdatagovukidcompany13404790,30052022
4,NFOGENIE LTD,13522064,7175 SHELTON STREET,LONDON,WC2H 9JQ,Private Limited Company,Active,United Kingdom,21072021,31,...,18082022,0,0,0,0,58290 Other software publishing,0,0,httpbusinessdatagovukidcompany13522064,03082022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4998218,“THE GREENHOUSE” COMPANY LTD,11457383,IRONMASTER HOUSE,SHREWSBURY,SY1 1XF,Private Limited Company,Active,United Kingdom,10072018,31,...,07082019,0,0,0,0,56101 Licensed restaurants,0,0,httpbusinessdatagovukidcompany11457383,06072022
4998219,“THE SKULL” SAUCE COMPANY LTD,SC660098,215 BURNBRAE PLACE,EDINBURGH,EH12 8AR,Private Limited Company,Active,United Kingdom,28042020,30,...,26052021,0,0,0,0,10840 Manufacture of condiments and seasonings,0,0,httpbusinessdatagovukidcompanySC660098,11052021
4998220,“UGUR97” FIRMASI LTD,13707057,60 BROMPTON ROAD,LONDON,SW3 1BW,Private Limited Company,Active,United Kingdom,27102021,31,...,24112022,0,0,0,0,68100 Buying and selling of own real estate,0,0,httpbusinessdatagovukidcompany13707057,09112022
4998221,“WORLD PLANET” HUMANITARIAN EXPEDITION GROUP LTD,12634115,OFFICE 4,KENSINGTON,W8 6BD,PRILTD BY GUARNSC (Private limited by guarante...,Active,United Kingdom,30052020,31,...,27062021,0,0,0,0,94120 Activities of professional membership o...,0,0,httpbusinessdatagovukidcompany12634115,12062022
4998222,€URO IMPORTS LIMITED,08182582,414416 BLACKPOOL ROAD,PRESTON,PR2 2DX,Private Limited Company,Active,United Kingdom,16082012,31,...,14112016,0,0,0,0,46160 Agents involved in the sale of textiles...,0,0,httpbusinessdatagovukidcompany08182582,28082022

In [11]:
# percentage missing values for UsefulcolumnData
missing_zero_values_table(UsefulcolumnData)

Your selected dataframe has 23 columns and 4998223 Rows.
There are 8 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
Returns.NextDueDate,0,124848,2.5,124848,2.5,object
Accounts.NextDueDate,0,120230,2.4,120230,2.4,object
Accounts.AccountRefDay,0,105348,2.1,105348,2.1,object
Accounts.AccountRefMonth,0,105348,2.1,105348,2.1,object
RegAddress.PostTown,0,92603,1.9,92603,1.9,object
RegAddress.PostCode,0,65775,1.3,65775,1.3,object
ConfStmtNextDueDate,0,55313,1.1,55313,1.1,object
RegAddress.AddressLine1,0,45254,0.9,45254,0.9,object

In [13]:
# drop the remainder null values in a columns because they are less than 5 percent 
Clean_Company = UsefulcolumnData.dropna()
Clean_Company

,CompanyName,CompanyNumber,RegAddress.AddressLine1,RegAddress.PostTown,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,IncorporationDate,Accounts.AccountRefDay,...,Returns.NextDueDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,ConfStmtNextDueDate
0,LTD,08209948,METROHOUSE 57 PEPPER ROAD,LEEDS,LS10 2RU,Private Limited Company,Active,United Kingdom,11092012,30,...,09102016,0,0,0,0,99999 Dormant Company,0,0,httpbusinessdatagovukidcompany08209948,25092022
1,LTD,11399177,THE STUDIO HATHERLOW HOUSE,ROMILEY,SK6 3DY,Private Limited Company,Active,United Kingdom,05062018,30,...,03072019,0,0,0,0,47710 Retail sale of clothing in specialised ...,0,0,httpbusinessdatagovukidcompany11399177,19062022
2,BIG IMPACT GRAPHICS LIMITED,11743365,372 OLD STREET,LONDON,EC1V 9LT,Private Limited Company,Active,United Kingdom,28122018,31,...,25012020,0,0,0,0,18129 Printing nec,0,0,httpbusinessdatagovukidcompany11743365,10012022
3,GOBERUB LTD,13404790,30 MAZE GREEN ROAD,BISHOP'S STORTFORD,CM23 2PJ,Private Limited Company,Active,United Kingdom,17052021,31,...,14062022,0,0,0,0,62020 Information technology consultancy acti...,0,0,httpbusinessdatagovukidcompany13404790,30052022
4,NFOGENIE LTD,13522064,7175 SHELTON STREET,LONDON,WC2H 9JQ,Private Limited Company,Active,United Kingdom,21072021,31,...,18082022,0,0,0,0,58290 Other software publishing,0,0,httpbusinessdatagovukidcompany13522064,03082022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4998218,“THE GREENHOUSE” COMPANY LTD,11457383,IRONMASTER HOUSE,SHREWSBURY,SY1 1XF,Private Limited Company,Active,United Kingdom,10072018,31,...,07082019,0,0,0,0,56101 Licensed restaurants,0,0,httpbusinessdatagovukidcompany11457383,06072022
4998219,“THE SKULL” SAUCE COMPANY LTD,SC660098,215 BURNBRAE PLACE,EDINBURGH,EH12 8AR,Private Limited Company,Active,United Kingdom,28042020,30,...,26052021,0,0,0,0,10840 Manufacture of condiments and seasonings,0,0,httpbusinessdatagovukidcompanySC660098,11052021
4998220,“UGUR97” FIRMASI LTD,13707057,60 BROMPTON ROAD,LONDON,SW3 1BW,Private Limited Company,Active,United Kingdom,27102021,31,...,24112022,0,0,0,0,68100 Buying and selling of own real estate,0,0,httpbusinessdatagovukidcompany13707057,09112022
4998221,“WORLD PLANET” HUMANITARIAN EXPEDITION GROUP LTD,12634115,OFFICE 4,KENSINGTON,W8 6BD,PRILTD BY GUARNSC (Private limited by guarante...,Active,United Kingdom,30052020,31,...,27062021,0,0,0,0,94120 Activities of professional membership o...,0,0,httpbusinessdatagovukidcompany12634115,12062022
4998222,€URO IMPORTS LIMITED,08182582,414416 BLACKPOOL ROAD,PRESTON,PR2 2DX,Private Limited Company,Active,United Kingdom,16082012,31,...,14112016,0,0,0,0,46160 Agents involved in the sale of textiles...,0,0,httpbusinessdatagovukidcompany08182582,28082022

In [14]:
# descripe the clean data 
Clean_Company.describe()

,CompanyName,CompanyNumber,RegAddress.AddressLine1,RegAddress.PostTown,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,IncorporationDate,Accounts.AccountRefDay,...,Returns.NextDueDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,ConfStmtNextDueDate
count,4823756,4823756,4823756,4823756,4823756,4823756,4823756,4823756,4823756,4823756,...,4823756,4823756,4823756,4823756,4823756,4823756,4823756,4823756,4823756,4823756
unique,4820051,4823756,1909876,36059,910821,8,13,1,28666,31,...,9318,460,394,10,330,1156,1,1,4823756,2295
top,LTD,04727094,7175 SHELTON STREET,LONDON,WC2H 9JQ,Private Limited Company,Active,United Kingdom,14052021,31,...,28012017,0,0,0,0,82990 Other business support service activiti...,0,0,httpbusinessdatagovukidcompany09310718,14042022
freq,15,1,59269,960478,59902,4595400,4495260,4823756,4425,3009930,...,21533,4159825,4273527,4822327,4538275,224311,4823756,4823756,1,24002

In [18]:
Clean_Company.shape

(4823756, 23)

In [29]:
Clean_Company.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4823756 entries, 0 to 4998222
Data columns (total 23 columns):
 #   Column                              Dtype
---  ------                              -----
 0   CompanyName                         object
 1    CompanyNumber                      object
 2   RegAddress.AddressLine1             object
 3   RegAddress.PostTown                 object
 4   RegAddress.PostCode                 object
 5   CompanyCategory                     object
 6   CompanyStatus                       object
 7   CountryOfOrigin                     object
 8   IncorporationDate                   object
 9   Accounts.AccountRefDay              float64
 10  Accounts.AccountRefMonth            float64
 11  Accounts.NextDueDate                object
 12  Accounts.AccountCategory            object
 13  Returns.NextDueDate                 object
 14  Mortgages.NumMortCharges            int64
 15  Mortgages.NumMortOutstanding        int64
 16  Mortgages.NumMortPartSatisfied      int64
 17  Mortgages.NumMortSatisfied          int64
 18  SICCode.SicText_1                   object
 19  LimitedPartnerships.NumGenPartners  int64
 20  LimitedPartnerships.NumLimPartners  int64
 21  URI                                 object
 22  ConfStmtNextDueDate                 object
dtypes: float64(2), int64(6), object(15)
memory usage: 883.3+ MB

In [17]:
# data type
Clean_Company.dtypes

CompanyName                           object
 CompanyNumber                        object
RegAddress.AddressLine1               object
RegAddress.PostTown                   object
RegAddress.PostCode                   object
CompanyCategory                       object
CompanyStatus                         object
CountryOfOrigin                       object
IncorporationDate                     object
Accounts.AccountRefDay                object
Accounts.AccountRefMonth              object
Accounts.NextDueDate                  object
Accounts.AccountCategory              object
Returns.NextDueDate                   object
Mortgages.NumMortCharges              object
Mortgages.NumMortOutstanding          object
Mortgages.NumMortPartSatisfied        object
Mortgages.NumMortSatisfied            object
SICCode.SicText_1                     object
LimitedPartnerships.NumGenPartners    object
LimitedPartnerships.NumLimPartners    object
URI                                   object
ConfStmtNextDueDate                   object
dtype: object

In [12]:

Clean_Company_str = Clean_Company.astype(str)
print(Clean_Company_str.dtypes)

CompanyName                           object
 CompanyNumber                        object
RegAddress.AddressLine1               object
RegAddress.PostTown                   object
RegAddress.PostCode                   object
CompanyCategory                       object
CompanyStatus                         object
CountryOfOrigin                       object
IncorporationDate                     object
Accounts.AccountRefDay                object
Accounts.AccountRefMonth              object
Accounts.NextDueDate                  object
Accounts.AccountCategory              object
Returns.NextDueDate                   object
Mortgages.NumMortCharges              object
Mortgages.NumMortOutstanding          object
Mortgages.NumMortPartSatisfied        object
Mortgages.NumMortSatisfied            object
SICCode.SicText_1                     object
LimitedPartnerships.NumGenPartners    object
LimitedPartnerships.NumLimPartners    object
URI                                   object
ConfStmtNextDueDate                   object
dtype: object

###### To check for any more duplicate 
print(Clean_Company.duplicated().value_counts())

In [ ]:
####### There is no duplicate row.

In [20]:
Clean_Company

,CompanyName,CompanyNumber,RegAddress.AddressLine1,RegAddress.PostTown,RegAddress.PostCode,CompanyCategory,CompanyStatus,CountryOfOrigin,IncorporationDate,Accounts.AccountRefDay,...,Returns.NextDueDate,Mortgages.NumMortCharges,Mortgages.NumMortOutstanding,Mortgages.NumMortPartSatisfied,Mortgages.NumMortSatisfied,SICCode.SicText_1,LimitedPartnerships.NumGenPartners,LimitedPartnerships.NumLimPartners,URI,ConfStmtNextDueDate
0,LTD,08209948,METROHOUSE 57 PEPPER ROAD,LEEDS,LS10 2RU,Private Limited Company,Active,United Kingdom,11092012,30,...,09102016,0,0,0,0,99999 Dormant Company,0,0,httpbusinessdatagovukidcompany08209948,25092022
1,LTD,11399177,THE STUDIO HATHERLOW HOUSE,ROMILEY,SK6 3DY,Private Limited Company,Active,United Kingdom,05062018,30,...,03072019,0,0,0,0,47710 Retail sale of clothing in specialised ...,0,0,httpbusinessdatagovukidcompany11399177,19062022
2,BIG IMPACT GRAPHICS LIMITED,11743365,372 OLD STREET,LONDON,EC1V 9LT,Private Limited Company,Active,United Kingdom,28122018,31,...,25012020,0,0,0,0,18129 Printing nec,0,0,httpbusinessdatagovukidcompany11743365,10012022
3,GOBERUB LTD,13404790,30 MAZE GREEN ROAD,BISHOP'S STORTFORD,CM23 2PJ,Private Limited Company,Active,United Kingdom,17052021,31,...,14062022,0,0,0,0,62020 Information technology consultancy acti...,0,0,httpbusinessdatagovukidcompany13404790,30052022
4,NFOGENIE LTD,13522064,7175 SHELTON STREET,LONDON,WC2H 9JQ,Private Limited Company,Active,United Kingdom,21072021,31,...,18082022,0,0,0,0,58290 Other software publishing,0,0,httpbusinessdatagovukidcompany13522064,03082022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4998218,“THE GREENHOUSE” COMPANY LTD,11457383,IRONMASTER HOUSE,SHREWSBURY,SY1 1XF,Private Limited Company,Active,United Kingdom,10072018,31,...,07082019,0,0,0,0,56101 Licensed restaurants,0,0,httpbusinessdatagovukidcompany11457383,06072022
4998219,“THE SKULL” SAUCE COMPANY LTD,SC660098,215 BURNBRAE PLACE,EDINBURGH,EH12 8AR,Private Limited Company,Active,United Kingdom,28042020,30,...,26052021,0,0,0,0,10840 Manufacture of condiments and seasonings,0,0,httpbusinessdatagovukidcompanySC660098,11052021
4998220,“UGUR97” FIRMASI LTD,13707057,60 BROMPTON ROAD,LONDON,SW3 1BW,Private Limited Company,Active,United Kingdom,27102021,31,...,24112022,0,0,0,0,68100 Buying and selling of own real estate,0,0,httpbusinessdatagovukidcompany13707057,09112022
4998221,“WORLD PLANET” HUMANITARIAN EXPEDITION GROUP LTD,12634115,OFFICE 4,KENSINGTON,W8 6BD,PRILTD BY GUARNSC (Private limited by guarante...,Active,United Kingdom,30052020,31,...,27062021,0,0,0,0,94120 Activities of professional membership o...,0,0,httpbusinessdatagovukidcompany12634115,12062022
4998222,€URO IMPORTS LIMITED,08182582,414416 BLACKPOOL ROAD,PRESTON,PR2 2DX,Private Limited Company,Active,United Kingdom,16082012,31,...,14112016,0,0,0,0,46160 Agents involved in the sale of textiles...,0,0,httpbusinessdatagovukidcompany08182582,28082022

In [ ]:
# The end. as this data is now cleaned machine learning can be applied to it. or saved for a later used depending on the intended purpose